<main id="main" class="main">
    <div class="pagetitle">
       <h1>Grille de Polyvalence</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Grille de Polyvalence</li>
          </ol>
       </nav>
    </div>
    <section class="section">
      <iframe title="Dashbord" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=e25dfb65-45bf-4d50-9c6c-229856171422&autoAuth=true" frameborder="0" allowFullScreen="true"></iframe>      </section>  
       
     <!--  <mat-paginator [length]="100"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page">
</mat-paginator>-->
 
  
 </main>