<!--<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div id="imglogo" style="max-height: 70px;" class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto" > <img src="assets/img/logo.png" alt=""> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                            <p class="text-center small">Enter your username & password to login</p>
                         </div>
                         <form class="row g-3 needs-validation" novalidate #loginform="ngForm" >
                            <div class="col-12">
                               <label for="yourUsername"  class="form-label">Username</label>
                               <div class="input-group has-validation">
                                 <input placeholder="UserName/Email"  type="text" name="username" class="form-control" id="yourUsername" required>
                                  <div class="invalid-feedback">Please enter your username or email adress</div>
                               </div>
                            </div>
                            <div class="col-12">
                               <label for="yourPassword" placeholder="Password" class="form-label">Password</label> <input type="password" name="password" class="form-control" id="yourPassword"  required>
                               <div class="invalid-feedback">Please enter your password!</div>
                            </div>
                            <div class="col-12"> <button class="btn w-100"  style="background-color:rgba(44, 156, 168, 0.393) ;" type="submit">Login</button></div>
                            <div class="col-12">
                               <p class="small mb-0">Forget password? <a routerLink="/pages-register">Click Here</a></p>
                            </div>
                         </form>
                      </div>
                     </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>-->

 <main>
   <div class="container">
      <section id="section" class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-flex justify-content-center py-4"> <a class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> </a></div>
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
                           <p class="text-center small">Entrez votre nom d'utilisateur et votre mot de passe pour vous connecter</p>
                        </div>
                        <form [formGroup]="loginForm"  class="row g-3 needs-validation" novalidate (ngSubmit)="loginAdmin()">
                       <!--  <div class="col-12">
                              <label for="email" class="form-label">Email</label>
                              <div class="input-group has-validation">
                                  <input formControlName="email" type="text" name="username" class="form-control" id="yourUsername" placeholder="email"  required>
                                 <div class="invalid-feedback" >Veuillez saisir votre e-mail.</div>
                              </div>
                           </div>
                           <div class="col-12">
                              <label for="yourPassword" class="form-label">Mot de passe</label> <input formControlName="password" type="password" name="password" class="form-control" id="yourPassword" placeholder="Mot de passe" required>
                              <div class="invalid-feedback">S'il vous plait entrez votre mot de passe!</div>
                           </div>
                           <div class="col-12"> <button class="btn btn w-100" style="background-color:rgb(70, 235, 240);" type="submit">Connexion</button></div>
                       --> 
                         <div class="col-12">
                         <mat-form-field  appearance="outline">
                           <mat-label for="email" class="form-label">Email</mat-label>
                           <input matInput placeholder="email" email formControlName="email" >
                           <mat-error *ngIf="loginForm.controls">email not valid</mat-error>
                         </mat-form-field>  
                        
                         </div>
                        
                           <div class="col-12">
                           <mat-form-field appearance="outline" >
                              <mat-label> password</mat-label>
                              <input matInput  [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password">
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                 <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                               </button>
                           <mat-error *ngIf="loginForm.invalid" >fill password</mat-error>
                           </mat-form-field>
                          
                           </div>
                           <div class="col-12"> <button mat-raised-button class="btn btn w-100" style="background-color:rgb(70, 235, 240);" type="submit">Connexion</button></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>