.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .sidebar-nav .nav-link.collapsed {
    color: #012970;
    background: #fff;
    padding: 45px;
}

.sidebar-nav .nav-link i {
    font-size: 20px;
    margin-right: 10px;
    color: #3d6b63;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #4154f1;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

