<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link collapsed " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>         
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/competence"> <i class="bi bi-menu-button-wide"></i><span>Competence</span> </a>
       </li>
       <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" routerLink="/categorie"> <i class="bi bi-menu-button-wide"></i><span>Categorie</span> </a>
      </li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" routerLink="/formation"> <i class="bi bi-journal-text"></i><span>Formation</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" routerLink="/grille"> <i class="bi bi-layout-text-window-reverse"></i><span>Grille de Polyvalence</span></a>
           </li>
           
    </ul>
   
 </aside>