<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
           <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">Dashboard</li>
           </ol>
        </nav>
     </div>
     <section class="section">
    <iframe title="bi_final" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=98fc7a8f-b6f5-4fd1-8de4-5c64e9dba71c&autoAuth=true" frameborder="0" allowFullScreen="true"></iframe>
</section>
</main>